body{
    background-color: rgb(218, 241, 236);
    text-align: center;
}
.cabeçalho{
    background-color: rgb(50, 250, 140);
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
    height: auto;
}
.logo{
    margin-top: 0px;
    position: relative;
    height: 200px;
}
.rodape{
    background-color: rgb(50, 250, 140);
    border-radius: 5px;
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    height: auto;
}
.imagem{
    position: relative;
    height: 40px;
    margin: 20px;
}
.referencia{
    position: relative;
    height: 25px;
}
.cooperacao1{
    position: relative;
    margin: 10px;
}
.cooperacao2{
    position: relative;
    margin: 10px;
}
.cooperacao3{
    position: relative;
    margin: 10px;
}
/*Link não visitado */
a:link {
  color: black;
  text-decoration: none;
}
